<div class="container mt-4">
    <h5 class="text-center">Add Finding</h5>

    <div class="mt-3 text-center">
        <button class="px-5 py-2" routerLink="/Findings/AuditDetails" routerLinkActive="active-menu">Audit Details</button>
        <button class="px-5 py-2" routerLink="/Findings/FindingDetails" routerLinkActive="active-menu">Finding Details</button>
        <button class="px-5 py-2" routerLink="/Findings/ReviewDetails" routerLinkActive="active-menu">Review Details</button>
    </div>
    <router-outlet></router-outlet>
</div>