<ul class="bg-light pb-5">
    <li routerLink="/Home" routerLinkActive="active-link">
        <a>
            Home
        </a>
    </li>
    <li routerLink="/Profile" routerLinkActive="active-link">
        <a>
            Profile
        </a>
    </li>
    <li routerLink="/Audits" routerLinkActive="active-link">
        <a>
            All Audits
        </a>
    </li>
    <li routerLink="/Findings" routerLinkActive="active-link">
        <a>
            Add Findings
        </a>
    </li>
</ul>